#container {
  margin: 10px;
  background-color: black;
  display: flex;
  column-gap: 50px;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

#innerCont {
  background-color: white;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
}

input {
  width: 80%;
  margin-right: 5px;
  margin-bottom: 20px;
}